name: WorkflowTareaRR

on:
  schedule:
    - cron: '45 19 * * 1'  # Ejecutar los lunes a las 15:45 (UTC-4)
    - cron: '00 00 * * 1'  # Ejecutar los lunes a las 20:00 (UTC-4)
  push:
    branches:
      - 'feature/*'  # Asegúrate de que el nombre del branch esté entre comillas
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout git
      uses: actions/checkout@v2  # Usa v2 en lugar de v4

    - name: Pruebas
      run: |
        echo "Lanzando las pruebas.."
        echo "Pruebas realizadas con éxito!"

  build:  
    runs-on: ubuntu-latest  # Cambiado a ubuntu-latest
    needs: test

    steps:
    - name: Configurar Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14  # Elige la versión de Node.js que necesitas

    - name: Checkout git
      uses: actions/checkout@v2  # Usa v2 en lugar de v4

    - name: Dependencias y building
      run: |
        npm install
        npm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout git
      uses: actions/checkout@v2  # Usa v2 en lugar de v4

    - name: Deploy
      run: |
        echo "Deployando.."
        echo "Deploy realizado de manera exitosa"
